<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/head :: headerFragment">
	.glyphicon {
	    font-size: 20px;
	}
</head>
<body ng-app="assessmentsApp">

	<div th:replace="fragments/header :: header">...</div>

	<div class="container">

		<div ng-controller="AssessmentsCtrl">
			
			<div>
				<h1 th:text="#{label.home.welcome}">Welcome to assessmentZz!</h1>
				<br/>
			</div>
				
			<table class="table table-hover" align="center" id="tab">
				<thead>
					<tr>
						<th th:text="#{label.home.maintable.headers.council}" width="20%">Council</th>
						<th th:text="#{label.home.maintable.headers.idea}" width="40%">Idea</th>
						<th th:text="#{label.home.maintable.headers.level}" width="30%">Level</th>
						<th th:text="#{label.home.maintable.headers.countResult}">Result!</th>
						<th th:text="#{label.home.maintable.headers.countUser}">Total User!</th>
						<th th:text="#{label.home.maintable.headers.export}">Export</th>
					</tr>
				</thead>
				<tbody>				
					<tr ng-repeat="assessment in assessments"  my-repeat-directive="">
						<td>
							{{assessment.name}}
						</td>
						<td>
							{{assessment.ideaName}}
						</td>
						<td>
							{{assessment.level}}
						</td>
						<td>
							{{assessment.countResult}}
						</td>
						<td>
							{{assessment.countUser}}
						</td>
						<td>
							<button class="btn btn-primary btn-xs" type="button" ng-click="exportDoc03(assessment.id)">
								<span class="glyphicon glyphicon-play fa-xs" aria-hidden="true"></span>
								</button>
						</td>
					</tr>
				</tbody>
			</table>
			
			<div class="text-center">
				<button th:text="#{label.home.maintable.loadmore}" class="btn btn-default" ng-click="loadNextPage()" ng-show="pagination.morePagesAvailable">Load more...</button>
			</div>
			
		</div>

	</div>
	
	<div th:replace="fragments/angular :: angular">...</div>
	<script type="text/javascript" src="../js/assessmentsApp.js"
		        th:src="@{/js/assessmentsApp.js}"></script>
	<script type="text/javascript" src="../js/FileSaver.js"
		        th:src="@{/js/FileSaver.js}"></script>

		        
</body>
</html>